{% extends 'base.html' %}

{% block title %}
<title>Inventory Managmnet App</title>
{% endblock %}


{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Chemicals</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">Chemicals</div>
            <div class="card-body">
                <div class="card mb-4">
                    <div class="card-header">New Chemicals</div>
                    <div class="card-body">
                        <form action="/chemicals/" method="POST" id="chemical_form">
                            <label for="chemical_name" class="col-form-label">Chemical Name</label>
                            <input type="text" name="chemical_name" id="chemical_name">
                            <input id="submitChemical" value="Add Chemical" class="btn btn-primary" readonly>
                        </form>
                    </div>
                </div>
                <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Chemicals Table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if chemicals|length < 1 %}
                        <h4>There are no Chemicals, add one above</h4>
                        {% else %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Chemicals Name</th>
                                    <th>Receive Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Chemicals Name</th>
                                    <th>Receive Date</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for chemical in chemicals %}
                                <tr>
                                    <td>{{ chemical.chemical_id }}</td>
                                    <td>{{ chemical.date_created.date() }}</td>
                                    <td>
                                        <a href="/delete-chemical/{{ chemical.chemical_id }}">Delete</a>
                                        <br>
                                        <a href="/update-chemical/{{ chemical.chemical_id }}">Update</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}