{% extends 'base.html' %}

{% block title %}
<title>Inventory Managmnet App</title>
{% endblock %}


{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Storage Categories</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">Storage Categories</div>
            <div class="card-body">
                <div class="card mb-4">
                    <div class="card-header">New Storage Category</div>
                    <div class="card-body">
                        <form action="/storage-categories/" method="POST" id="storage_category_form">
                            <label for="storage_category_name" class="col-form-label">Storage Category Name</label>
                            <input type="text" name="storage_category_name" id="storage_category_name">
                            <input id="submitStorageCategory" value="Add StorageCategory" class="btn btn-primary" readonly>
                        </form>
                    </div>
                </div>
                <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Storage Categories Table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if storage_categories|length < 1 %}
                        <h4>There are no Storage Categories, add one above</h4>
                        {% else %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Storage Category Name</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Storage Category Name</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for storage_category in storage_categories %}
                                <tr>
                                    <td>{{ storage_category.storage_category_id }}</td>
                                    <td>{{ storage_category.date_created.date() }}</td>
                                    <td>
                                        <a href="/delete-storage-category/{{ storage_category.storage_category_id }}">Delete</a>
                                        <br>
                                        <a href="/update-storage-category/{{ storage_category.storage_category_id }}">Update</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}