{% extends 'base.html' %}

{% block title%}
<title>Update Consumable</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/consumables/">Consumables</a></li>
            <li class="breadcrumb-item active">Update Consumable</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">Update Consumable</div>
            <div class="card-body">
                <form action="/update-consumable/{{consumable.consumable_name}}" method="POST" id="consumables_form">
                    <div class="block">
                        <label for="consumable_name" class="col-form-label">Consumable Name</label>
                        <input type="text" name="consumable_name" id="consumable_name" value="{{consumable.consumable_name}}" align="right">
                        <br>
                    </div>
                    <div class="block">
                        <label for="quantity" class="col-form-label">Quantity</label>
                        <input type="text" name="quantity" id="quantity" value="{{consumable.quantity}}" align="right">
                        <br>
                    </div>
                    <div class="block">
                        <label for="room_number" class="col-form-label">Room number</label>
                        <select name="room_number" id="room_number">
                            {% for loc in location %}
                            {% if loc.location_id == consumable.room_number %}
                            <option selected="selected">{{ loc.location_id }}</option>
                            {% else %}
                            <option>{{ loc.location_id }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="block">
                        <label for="data_created" class="col-form-label">Date created</label>
                        <input type="date" name="data_created" id="data_created" value="{{consumable.date_created.date()}}" align="right">
                        <br>
                    </div>
                    <div class="block">
                        <label for="consumable_location" class="col-form-label">Consumable location</label>
                        <select name="consumable_location" id="consumable_location">
                            {% for loc in consumable_location %}
                            <!-- The consumables' location is currently sharing the same options as chemical locations -->
                            {% if loc.chemical_location_id == consumable.storage_location %}
                            <option selected="selected">{{ loc.chemical_location_id }}</option>
                            {% else %}
                            <option>{{ loc.chemical_location_id }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="block">
                        <label for="remarks" class="col-form-label">Remarks</label>
                        <input type="text" name="remarks" id="remarks" value="{{consumable.remarks}}" align="right">
                        <br>
                    </div>
                    <input id="updateConsumable" value="Update" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}

