{% extends 'base.html' %}

{% block title%}
<title>Update Storage</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/chemicals/">Chemical Locations</a></li>
            <li class="breadcrumb-item active">Update Chemical Location</li>
        </ol>
        <div class="card mb-4">

            <div class="card-header">Update Chemical Location</div>
            <div class="card-body">
                <form action="/update-chemical-location/{{chemical_location.chemical_location_id}}" method="POST" id="chemical_location_form">
                    <label for="chemical_location_name" class="col-form-label">Chemical Location Name</label>
                    <input type="text" name="chemical_location_name" id="chemical_location_name" value="{{chemical_location.chemical_location_id}}">
                    <input id="submitChemicalLocation" value="Update" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}

